*{
    text-align: center;
    background-color: darkgray;
}
.title{
    font: 40px "Comic Sans MS", sans-serif;
    color: black;
}
.subtitle{
     color: black;
     font: 30px "Comic Sans MS", sans-serif;
 }
h2 {
    color: blue;
    font: 20px "Comic Sans MS", sans-serif;
    padding-bottom: 5px;
}
button{
    font: 15px "Comic Sans MS", sans-serif;
    display: inline-block;
    color: white;
    background-color: blue;
    text-align: center;
}
.increment{
    padding-bottom: 15px;
}